<div class="container">
    <h2>게시물 등록</h2>         
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>제목</th>
          <td><input type="text" id="title" [(ngModel)]="bi.biTitle"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><input type="text" id="content" [(ngModel)]="bi.biContent"></td>
        </tr>
        <tr>
          <th>작성자</th>
          <td><input type="text" id="writer" [(ngModel)]="bi.biWriter"></td>
        </tr>
        <tr>
          <th>파일</th>
          <td><input type="file" (change)="getFiles($event)"></td>
        </tr>
      </thead>
    </table>
    <button (click)="save()">저장</button>
  </div>