<div>
  <label for="id">아이디</label>
  <input type="text" id="id" [(ngModel)]="us.id"><br>
  <label for="pwd">비밀번호</label>
  <input type="password" id="pwd"  [(ngModel)]="us.pwd">
  <button (click)="doLogin()">로그인</button>
</div>
<div>
  니 아이디 : {{id}}
</div>