--------회원가입--------<br>
<div>
<label for="ui_id">id</label>
<input id="ui_id" type="text" [(ngModel)]="ju.ui_id"><br>
<label for="ui_pwd">pwd</label>
<input id="ui_id" type="password" [(ngModel)]="ju.ui_pwd"><br>
<label for="ui_age">age</label>
<input id="ui_age" type="number" [(ngModel)]="ju.ui_age"><br>
<button (click)="join()">회원가입</button>
</div>
{{ui_id}}